<div id="<%= dom_id article %>">
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <iframe src="<%= rails_blob_path(article.document, disposition: :inline) %>" height="200" width="300"></iframe>

  <p>
    <strong>Pages:</strong>
    <%= article.pages %>
  </p>

  <p>
    <strong>Info:</strong>
    <%= article.info %>
  </p>

</div>
